<h3> TinyApp </h3>

<% if (!userId) {%>

  <form action="/register" method="GET" style="margin: 30px 0 30px 0"  >
    <input type="submit" value="Register New Account" />
  </form>

  <form action="/login" method="POST">
    <label for="email" style="display: block; margin: 0 14px 10px 0;">Email:
      <input id="email" type="" name="email"
        placeholder="" action="" style="width: 200px;" />
    </label>
    <label for="password" style="display: block;">Password:
      <input id="password" type="password" name="password"
        placeholder="" action="" style="width: 200px;" />
    </label>
    <input style="margin:14px 0 20px 0;" type="submit" value="Sign In" />
  </form>



<% } else { %>

  <form style="margin-bottom: 30px;"action="/logout" method="POST">
    <span>user email: <%= email %></span>
    <input style="margin-left: 20px;" id="email" type="submit" value="Sign Out" />
  </form>

<% } %>


