<h3> TinyApp </h3>

  <% if (!userId) {%>
<form action="/login" method="POST">
    <input id="email" type="" name="email"
          placeholder="" action="" style="width: 300px">
    <input id="password" type="password" name="password"
          placeholder="" action="" style="width: 300px">
    <input type="submit" value="Sign In" />
</form>
<form action="/register" method="GET">
    <input type="submit" value="Register" />
  <% } else { %>


<form action="/logout" method="POST">
  <span>user email: <%= email %> </span>
  <input id="email" type="submit" value="Sign Out" />
</form>

  <% } %>


