<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:25px 40px 40px 50px;">
  <form action="/register" method="POST">
    <h3>Register Here!</h3>
    <div>
      <label for="email" style="display: block; margin: 0 14px 10px 0;">Email:
        <input id="email" type="email" name="email"
        action="" style="width:200px">
      </label>
    </div>
    <div>
      <label for="password">Password:
        <input id="password" type="password" name="password"
        action="" style="width: 200px">
      </label>
    </div>
    <div style="margin:14px 0 20px 0;">
      <label for="enter">
        <input id="enter" type="submit" value="Enter" />
      </label>
    </div>
  </form>
</body>
