<!DOCTYPE html>
<html lang="en">

<body>

  <form action="/register" method="POST">
    <div>
      <span>Email:</span>
      <input id="email" type="email" name="email"
        action="" style="width: 300px">
    </div>
    <div>
      <span>Password:</span>
      <input id="password" type="password" name="password"
        action="" style="width: 300px">
    </div>
    <input type="submit" value="Enter" />
  </form>

</body>
