<!DOCTYPE html>
<html lang="en">
  <body style="font-size:20px; padding:25px 40px 40px 50px;">
    <header>
      <% include ../views/partials/_header %>
    </header>
    <form action="/urls/create" method="POST">
      <label for="shortURL">Enter new URL to link to: </label>
        <input id="shortURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
    </form>
    <form action="/urls/user" style="padding-top:28px;">
      <label for="backToYour">
        <input type="submit" id="backToYour" value="Back to your list" />
      </label>
    </form>
    <form action="/" style="padding-top:14px;">
      <label for="backToFull">
        <input type="submit" id="backToFull" value="Back to full list" />
      </label>
    </form>
  </body>
</html>