<!DOCTYPE html>
<html lang="en">

<body>
    <header>
      <% include ../views/partials/_header %>
    </header>
    <p>Here are all shortened URLS</p>
    <ol>
      <% for (var i in urls) { %>
        <li>
          <a href="<%= urls[i].link %>"> <%= i %></a>
        </li>
      <% } %>
    </ol>
    <% if (userId) { %>
      <form action="urls/user">
        <input type="submit" value="Click to manage your links" />
      </form>
    <% } %>

</body>
</html>


<!--

-->