<!DOCTYPE html>
<html lang="en">
  <body style="font-size:20px; padding:25px 40px 40px 50px;">
    <header>
      <% include ../views/partials/_header %>
    </header>
    <p>Original URL: <a href="<%= longURL %>"><%= longURL %></a></p>
    <p>Shortened URL: <a href="<%= longURL %>">http://localhost:8080/<%= shortURL.toString() %></a></p>
    <p></p>
    <% if (userId) { %>
      <form action="/urls/user" style="padding-top:25px;">
        <label for="backToYour">
          <input type="submit" id="backToYour" value="Back to your list" />
        </label>
      </form>
    <% } %>
      <form action="/" style="padding-top:14px;">
        <label for="backToFull" >
          <input type="submit" id="backToFull" value="Back to full list" />
        </label>
      </form>
  </body>
</html>
